<%= form_for @message, html: {multipart: true} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <% if @message.image.file?%>
        <%= link_to image_tag(@message.image.url(:thumb), class: 'media-object'), @message.image.url, target: '_blank' %>
    <% end %>
  </div>
    <div class="field">
      <%= f.label :image, 'Select File', class: 'control-label' %>
      <%= f.file_field :image, class: 'file', 'multiple data-show-upload' => false, 'data-show-caption' => true %><br>
    </div>
    <br>
  <div>
    <%= f.submit nil, class: 'btn btn-primary', style: 'width:140px' %>
  </div>
<br/>
    <br/>
<% end %>
