
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @message.name %></h2>

      <p>
          <%= link_to image_tag(@message.image.url(:original), class: 'media-object img-rounded leftimg'), target: '_blank' %>
          <%= @message.description %>
      </p>


    </div>
    </br>
    <% if session[:isMainPage] == 'false' %>
        <%= link_to 'Back', messages_path %>
    <% else %>
        <%= link_to 'Back', root_path %>
    <% end %>
  </div>
</div>