<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @message.name %></h2>

      <p>
        <img src="<%= @message.image %>" class="img-rounded leftimg"/> <%= @message.description %>
      </p>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>