<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @map.name %></h2>

      <p>
        <%= link_to image_tag(@map.image.url(:thumb), class: 'media-object img-rounded leftimg'), @map.image.url, target: '_blank' %>
        <%= @map.description %>
        <br>
        <strong>Cp number:</strong>
        <%= @map.cp_number %>
      </p>

    </div>
    </br>

        <%= link_to 'Back', maps_path %>

  </div>
</div>