<% provide(:title, ApplicationHelper::EDIT_USER) %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-md-6 col-lg-5">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, ApplicationHelper::CONFIRM_PASS %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit ApplicationHelper::SAVE_CHANGES, class: "btn btn-large btn-primary" %>
    <% end %>
<br/>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>