<div class="row row-newspage">
  <div class="col-md-2">
    <a class="btn" style="padding: 0px 0px" href="<%= messages_path %>/<%= message_item.id %>">
        <img src="<%= message_item.image %>" class="img-rounded"/>
    </a>
    <div class="timestamp">
      Posted <%= time_ago_in_words(message_item.created_at) %> ago.
    </div>
  </div>
  <div class="col-md-10">
    <h2><%= message_item.name %></h2>

    <p>
      <%= message_item.description[0,200] %>...
    </p>


    <% if (current_user && current_user.admin && @message_controller != nil) %>
        <p>
          <%= link_to ApplicationHelper::EDIT_LINK, edit_message_path(message_item), class: 'btn' %>
          <%= link_to ApplicationHelper::DELETE_LINK, message_item, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% else %>
    <p>
        <a class="btn" href="<%= messages_path %>/<%= message_item.id %>">View details....</a>
    </p>
    <% end %>
  </div>

</div>



